.App {
    background-color: beige;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    text-align: center;
    white-space: pre-line;
    position: relative;
    top: -30px;

}

:-ms-input-placeholder {
    /* IE 10+ */
    text-align: center;
    white-space: pre-line;
    position: relative;
    top: -30px;
}

.form {
    position: relative;
    text-wrap: balance;
    margin: 15px auto;
    min-height: 100%;
    width: 90%;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.6);
    background: white;
    padding: 10px 10px 10px 15px;
    box-sizing: border-box;
    border-radius: 25px;
}

.options {
    padding: 10px 5px;
    margin: 10px;
}

.options:hover {
    background-color: rgb(207, 207, 207);
}

textarea[type=text] {
    align-items: left;
    width: 95%;
    padding: 20px 10px;
    margin: 15px;
    box-sizing: content-box;
}

label {
    position: relative;
}

.buttons-group {
    padding: 15px 50px;
}

button {
    padding: 10px;
    width: 30%;
    margin: 15px;
    cursor: pointer;
}

button:hover {
    background-color: aqua;
}